

{% block fos_user_content %}

{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
    <a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>
{% else %}
    
    

<form action="{{ path("fos_user_security_check") }}" method="post" class="form-inline" style="margin-bottom: 0;">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

    <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" class="input-small" />

    <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
    <input type="password" id="password" name="_password" class="input-small" />

    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>

    <button type="submit" class="btn" id="_submit" value="" >{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}</button>
</form>
    
{% endif %}
    
{% endblock fos_user_content %}
