<form action="{{ path("fos_user_security_check") }}" method="post" class="form-inline">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><i class="icon-remove"></i></button>
        <h3>Login</h3>
    </div>
    <div class="modal-body">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" class="input-small" />

        <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
        <input type="password" id="password" name="_password" class="input-small" />

        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
        <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
    <hr class="dashed">
    <!--
    <button class="btn btn-info"><i class="glyphicons-twitter"></i> Login with Twitter</button>
    <button class="btn btn-danger"><i class="glyphicons-google_plus"></i> Login with Google</button>
    -->
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning pull-left">Forgot Password?</button>
        <button type="submit" class="btn" id="loginBtn" value="" >{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}</button>
    </div>
</form>