{% extends 'SiteHomepageBundle::layout.html.twig' %}


{% block body %}

<div id="header">
    <div class="container">  
        <div class="row">
            <div class="span6">
                <h1>Test: {#{ criteriaQuestion.section }#}</h1>
                
            </div>
            <div class="span6">
                <p>Date: {{ "now"|date("F jS") }}</p>
                <h3>Start time: {{ "now"|date("H:i:s") }}</h3>
            </div>
        </div>
    </div>
</div>

<div class="container">  
    <div class="row">
        <div class="span6 question">	
            <div class="entry">
                <h4>Question: {{ app.session.get('questionCounter') }}</h4> 
                <hr>
                <p>{{ question }}</p>
                <ul class="response">
                   {%for answer in question.answers %}
                     <li><a  class="">{{ answer.id ~ ' - ' ~ answer.title }}</a></li>
                   {% endfor %}
                 </ul>
            </div>
        </div>
        <div class="span6">
            <form action="{{ path('ExamPracticeBundle_Page_Run_Index') }}" method="post" novalidate="novalidate" >
            {{ form_widget(form) }}
                    <button type="submit" class="btn">Submit</button>
            </form>        
        </div>
    </div>
</div>

<style>

.question p {
    font-size: 17px;
    line-break: auto;
    margin-bottom: 15px;
}

.question ul.response {
    list-style: none;
    margin:0;
    padding:0;
    overflow: hidden;
    width: 100%;
    display: block;
}

.question ul li a{
    border: 1px solid #ddd;
    background-color: #EEE;
    padding: 8px 15px;
    margin-bottom: 6px;
    display: block;
    border-radius: 5px;
}

.question ul li a:hover{
    color: #3A87AD;
    background-color: #D9EDF7;
    border-color: #BCE8F1;
    text-decoration: none
}
    
</style>
 
{% endblock body %}


