{% extends 'SiteHomepageBundle::layout.html.twig' %}

{% block body %}

<div id="content">
    
    <div class="container">

        <div class="row">

            <div class="span6 question-create">
                
                <hgroup>
                    <h1>{{ 'question_create.top.heading' | trans }}</h1>
                    <h2>{{ 'question_create.top.sub_heading' | trans }}</h2>
                </hgroup>
                    
                <form action="{{ path('QuestionCreateBundle_Page_Create_Index') }}" {{ form_enctype(form) }} 
                      method="POST" 
                      class="fos_user_registration_register"
                      novalidate="novalidate">

                    {{ form_row(form.title, { 'attr': {'class': 'question'} }) }}

                    <h3>{{ 'question_create.answers.heading' | trans }}</h3>
                    <div class="answers" data-prototype="{{ form_widget(form.answers.vars.prototype)|escape }}">
                    
                    {% for answer in form.answers %}
                    
                        <div class="answer">
                        {% if(loop.index == 1) %}
                            {{ form_row(answer.title, { 'attr': {'class': 'correct'} }) }}
                        {% else %}
                            {{ form_row(answer.title)}}
                            <a href="#" class="btn btn-mini btn-danger">delete this answer</a>
                        {% endif %}         
                    </div>
                        {% endfor %}
                    </div>

                    <h3>{{ 'question_create.comments.heading' | trans }}</h3>
                    {{ form_row(form.note, {'label' : 'Comments'})}}

                    {{ form_rest(form) }}

                    <div class="form-actions">
                        <input class="btn btn-primary" type="submit" id="_submit_question" value="{{ 'question_create.button.submit_question' | trans }}" />
                    </div>
                </form>
            </div>

            <div class="span4 well offset1">
                <hgroup>
                    <h1>{{ 'question_create.help.heading' | trans }}</h1>
                    <h2>{{ 'question_create.help.sub_heading' | trans }}</h2>
                </hgroup>
                <ul>
                    <li>{{ 'question_create.help.body.1' | trans }}</li>
                    <li>{{ 'question_create.help.body.2' | trans }}</li>
                    <li>{{ 'question_create.help.body.3' | trans }}</li>
                    <li>{{ 'question_create.help.body.4' | trans }}</li>
                    <li>{{ 'question_create.help.body.5' | trans }}</li>
                    <li>{{ 'question_create.help.body.6' | trans }}</li>
                    <li>{{ 'question_create.help.body.7' | trans }}</li>
                    <li>{{ 'question_create.help.body.8' | trans }}</li>
                </ul>
            </div>
            
        </div>

    </div>

</div>

{% endblock %}

