{% extends 'SiteHomepageBundle::layout.html.twig' %}

{% block body %}

<div id="content">
    
    <div class="container">

        <div class="row">

            <div class="span6 question-create">
                
                <hgroup>
                    <h1>Create a Question</h1>
                    <h2>Be creative! Add one correct answer and up to four wrong answers. </h2>
                </hgroup>
                    
                <form action="{{ path('QuestionCreateBundle_Page_Create_Index') }}" {{ form_enctype(form) }} 
                      method="POST" 
                      class="fos_user_registration_register"
                      novalidate="novalidate">

                    {{ form_row(form.title, { 'attr': {'class': 'question'} }) }}

                    <h3>Answers</h3>
                    <div class="answers" data-prototype="{{ form_widget(form.answers.vars.prototype)|escape }}">
                    
                    {% for answer in form.answers %}
                    
                        <div class="answer">
                        {% if(loop.index == 1) %}
                            {{ form_row(answer.title, { 'attr': {'class': 'correct'} }) }}
                        {% else %}
                            {{ form_row(answer.title)}}
                            <a href="#" class="btn btn-mini btn-danger">delete this answer</a>
                        {% endif %}         
                    </div>
                        {% endfor %}
                    </div>

                    <h3>Add Comments</h3>
                    {{ form_row(form.note, {'label' : 'Comments'})}}

                    {{ form_rest(form) }}

                    <div class="form-actions">
                        <input class="btn btn-primary" type="submit" id="_submit_question" value="submit" />
                    </div>
                </form>
            </div>

            <div class="span4 well offset1">
                <hgroup>
                    <h1>PHP</h1>
                    <h2>Guidelines for writing questions</h2>
                </hgroup>
                <ul>
                    <li>Questions should have a clear right answer</li>
                    <li>Questions should not be subjective</li>
                    <li>Wrong answer choices should not be obvious</li>
                    <li>Questions should range in difficulty level</li>
                    <li>Keep ‘em short! Questions should be less than two sentences</li>
                    <li>Answers should be less than one sentence</li>
                    <li>Answers should be similar lengths</li>
                    <li>Remember, answers may not appear in the order in which you entered them</li>
                </ul>
            </div>
            
        </div>

    </div>

</div>

{% endblock %}

