<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Bootstrap, from Twitter</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>{% block title %}Testonline!{% endblock %}</title>
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        {% block stylesheets %}
        <link href="{{ asset('css/bootstrap.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('css/bootstrap-responsive.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('css/customization.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <style>
                /* Special grid styles
                -------------------------------------------------- */
                .show-grid {
                margin-top: 10px;
                margin-bottom: 20px;
                }
                .show-grid [class*="span"] {
                background-color: #eee;
                text-align: center;
                -webkit-border-radius: 3px;
                    -moz-border-radius: 3px;
                        border-radius: 3px;
                min-height: 30px;
                line-height: 30px;
                }
                .show-grid:hover [class*="span"] {
                background: #ddd;
                }
                .show-grid .show-grid {
                margin-top: 0;
                margin-bottom: 0;
                }
                .show-grid .show-grid [class*="span"] {
                background-color: #ccc;
                }
                
                

        </style>
    </head>
    <body>
        
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="{{ path('DmAdminBundle_homepage') }}">Admin</a>
          <div class="btn-group pull-right">
              {% render "DmUserBundle:Security:login" %}
          </div>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="#">Question</a></li>
              <li><a href="#about">Section</a></li>
              <li><a href="#contact">Level</a></li>
              <li><a href="#contact">Type</a></li>
              <li><a href="#contact">Tag</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

        
        
        <div class="container-fluid ">     
            {% block body %}{% endblock %}
        </div>    
            
        {% block javascripts %}
            <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
            <script src="{{ asset('js/jquery.js') }}"></script>
            <script src="{{ asset('js/bootstrap-transition.js') }}"></script>
            <script src="{{ asset('js/bootstrap-alert.js') }}"></script>
            <script src="{{ asset('js/bootstrap-modal.js') }}"></script>
            <script src="{{ asset('js/bootstrap-dropdown.js') }}"></script>
            <script src="{{ asset('js/bootstrap-scrollspy.js') }}"></script>
            <script src="{{ asset('js/bootstrap-tab.js') }}"></script>
            <script src="{{ asset('js/bootstrap-tooltip.js') }}"></script>
            <script src="{{ asset('js/bootstrap-popover.js') }}"></script>
            <script src="{{ asset('js/bootstrap-button.js') }}"></script>
            <script src="{{ asset('js/bootstrap-collapse.js') }}"></script>
            <script src="{{ asset('js/bootstrap-carousel.js') }}"></script>
            <script src="{{ asset('js/bootstrap-typehead.js') }}"></script>
            <script src="{{ asset('js/application.js') }}"></script>
        {% endblock %}
            
    </body>
</html>
