<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Bootstrap, from Twitter</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>{% block title %}Testonline!{% endblock %}</title>
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        
         {% stylesheets output="css/sitebase.css" filter=''
            '@DmSiteBundle/Resources/public/css/bootstrap.css'
            '@DmSiteBundle/Resources/public/css/bootstrap-responsive.css'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        
        {% block stylesheets %}
       

        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    </head>
    <body>

        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="{{ path('homepage') }}">Rate Your Skills</a>
                    <div class="dropdown pull-right" id="login-drop-menu">
                        
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

                        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} | <a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>
                        {% else %}
                        
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Login</a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            {% render "SecurityAuthenticateBundle:Login:login" %}
                        </ul>
                        
                        {% endif %}
                    </div>
                    
                    <div class="nav-collapse">
                        <ul class="nav">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="#about">About</a></li>
                            <li><a href="#contact">Contact</a></li>
                            <li><a href="{{ path('security_register') }}">Register</a></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>



        <div class="container">     
            {% block body %}{% endblock %}
            </div>    

        {% block javascripts %}
            <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
            <script src="{{ asset('js/jquery.js') }}"></script>
            <script src="{{ asset('js/bootstrap-transition.js') }}"></script>
            <script src="{{ asset('js/bootstrap-alert.js') }}"></script>
            <script src="{{ asset('js/bootstrap-modal.js') }}"></script>
            <script src="{{ asset('js/bootstrap-dropdown.js') }}"></script>
            <script src="{{ asset('js/bootstrap-scrollspy.js') }}"></script>
            <script src="{{ asset('js/bootstrap-tab.js') }}"></script>
            <script src="{{ asset('js/bootstrap-tooltip.js') }}"></script>
            <script src="{{ asset('js/bootstrap-popover.js') }}"></script>
            <script src="{{ asset('js/bootstrap-button.js') }}"></script>
            <script src="{{ asset('js/bootstrap-collapse.js') }}"></script>
            <script src="{{ asset('js/bootstrap-carousel.js') }}"></script>
            <script src="{{ asset('js/bootstrap-typehead.js') }}"></script>
            <script src="{{ asset('js/application.js') }}"></script>
        {% endblock %}

        </body>
    </html>
