<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Bootstrap, from Twitter</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="David Maignan">

        <title>{% block title %}Testonline!{% endblock %}</title>
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        
        {% stylesheets output="css/sitebase.css" filter=''
            '@LibraryBootstrapBundle/Resources/public/css/bootstrap.css'
            '@LibraryBootstrapBundle/Resources/public/css/bootstrap-responsive.css'
            '@LibraryBootstrapBundle/Resources/public/css/show-grid.css'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
         
        {% block stylesheets %}
        

        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    </head>
    <body>
        
        
        {% block header %}{% endblock header %}

        {% block content %}{% endblock %}
        
        {% block tmp %} 
        
        {%- for bundle in get_bundle_list() -%}
            {%- set bundle = bundle|replace({'Bundle': ''}) -%}
            '{{ bundle }}': '{{'bundles/'  ~ bundle|lower }}/js/*'{%- if (loop.last != true) -%}, {% endif -%}
        {%- endfor -%}
        
        {% endblock tmp %}

        
        {% javascripts output="js/sitebase.js" filter=''
            '@LibraryRequireBundle/Resources/public/js/require.js'
            '@LibraryJQueryBundle/Resources/public/js/jquery.js'
            '@LibraryBootstrapBundle/Resources/public/js/bootstrap.js'
        %}
            <script src="{{ asset_url }}" /></script>
        {% endjavascripts %}

        
        
        {% block javascripts %}
           
        {% endblock %}
    
    
        <script type="text/javascript">
            var $html     = $('html'),
                $document = $(document);

            require.config({
                baseUrl: '/bundles',
                paths: {
                     {%- for bundle in get_bundle_list() -%}
                        {%- set bundle = bundle|replace({'Bundle': ''}) -%}
                        '{{ bundle }}': '/{{bundle|lower }}/js'{%- if (loop.last != true) -%}, {% endif -%}
                     {%- endfor -%}

                }
            });

            $document.ready(function () {
                var page = '{{ app.request.attributes.get('_route')| replace({'Bundle': '', '_': '/'}) }}';

                require([page], function (Page) {
                    if (typeof Page === 'function') {
                        new Page($document);
                    }
                });
            });
        </script>

        </body>
    </html>
