{% extends 'SiteHomepageBundle::layout.html.twig' %}

{% block body %}

<div id="landing">
    <div class="container">  
        <div class="row">
            <div class="span5">
                <h1>{{ 'site_index.top.heading' | trans }}</h1>	
                <p>Y{{ 'site_index.top.body' | trans }}</p>
                <p><a href="#" class="btn btn-primary btn-action">{{ 'site_index.top.button' | trans }}</a></p>  
            </div>
            <div class="span7">
                <img src="http://quickimage.it/670x377" />
            </div>
        </div>
    </div>
</div>

<div id="content" class="txt-middle">
    <div class="container">
        <div class="row">
            <div class="span12">
                <h2>{{ 'site_index.bottom.heading' | trans }}</h2>
                <hr class="dashed">				
            </div>  
        </div>  
        <div class="row">
            <div class="span4 bouncy">
                <div class="icon_wrapper">
                    <i class="icon-group icon-large"></i>
                </div>
                <h2>{{ 'site_index.bottom.subsection1.heading' | trans }}</h2>
                <p>{{ 'site_index.bottom.subsection1.body' | trans }}</p>	
            </div>
            <div class="span4 bouncy">
                <div class="icon_wrapper">
                     <i class="icon-money icon-large"></i>
                </div>
                <h2>{{ 'site_index.bottom.subsection2.heading' | trans }}</h2>
                <p>{{ 'site_index.bottom.subsection2.body' | trans }}</p>	
            </div>
            <div class="span4 bouncy">
                <div class="icon_wrapper">
                     <i class="icon-laptop icon-large"></i>
                </div>
                <h2>{{ 'site_index.bottom.subsection3.heading' | trans }}</h2>
                <p>{{ 'site_index.bottom.subsection3.body' | trans }}</p>	
            </div>		  
        </div>
        <hr class="dashed">					
    </div>
</div>

<div id="footer">
    <div class="container">
        <div class="row">
            <div class="span3">
                <h3>{{ 'site_index.footer.subsection1.heading' | trans }}</h3>
                <ul class="animated">
                    <li><a href="#">{{ 'site_index.footer.subsection1.link1' | trans }}</a></li>
                    <li><a href="#">{{ 'site_index.footer.subsection1.link2' | trans }}</a></li>
                    <li><a href="#">{{ 'site_index.footer.subsection1.link3' | trans }}</a></li>
                    <li><a href="#">{{ 'site_index.footer.subsection1.link4' | trans }}</a></li>
                </ul>			
            </div>
            <div class="span3">		
                <h3>{{ 'site_index.footer.subsection2.heading' | trans }}</h3>
                <ul class="animated">
                    <li><a href="#">{{ 'site_index.footer.subsection2.link1' | trans }}</a></li>
                    <li><a href="#">{{ 'site_index.footer.subsection2.link2' | trans }}</a></li>
                    <li><a href="#">{{ 'site_index.footer.subsection2.link3' | trans }}</a></li>
                </ul>	
            </div>
            <div class="span3">
                <h3>{{ 'site_index.footer.subsection3.heading' | trans }}</h3>
                <ul class="animated">
                    <li><a href="#">{{ 'site_index.footer.subsection3.link1' | trans }}</a></li>
                    <li><a href="#">{{ 'site_index.footer.subsection3.link2' | trans }}</a></li>
                    <li><a href="#">{{ 'site_index.footer.subsection3.link3' | trans }}</a></li>
                </ul>		  
            </div>
            <div class="span3">
                <h3>{{ 'site_index.footer.subsection4.heading' | trans }}</h3>
                <p>{{ 'site_index.footer.subsection4.body' | trans }}</p>			
                <form>
                    <input class="span3" type="text" placeholder="{{ 'site_index.footer.subsection4.email' | trans }}" name="subscribe">
                    <button class="btn btn-primary">{{ 'site_index.footer.subsection4.button' | trans }}</button>
                </form>
            </div>		  
        </div>	  
    </div>	  
</div>

<div id="copywrite">
    <div class="container">
        <div class="row">
            <div class="span12">
                <p>&copy; 2013 Bounce Template <span id="totop" class="pull-right">Back to Top <i class="icon-arrow-up icon-white"></i></span></p>			
            </div>		  
        </div>	  
    </div>	  
</div>

{% endblock %}