<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="{{ path('SiteHomepageBundle_Page_Index_Index') }}">Rate Your Skills</a>

            <div class="nav-collapse">
                <ul class="nav">
                    <li class="active"><a href="#">{{ 'site_navigation.top.home' | trans }}</a></li>
                    <li><a href="#about">{{ 'site_navigation.top.about' | trans }}</a></li>
                    <li><a href="#contact">{{ 'site_navigation.top.contact' | trans }}</a></li>
                    <li><a href="{{ path('SecurityRegistrationBundle_Page_Register_Index') }}">{{ 'site_navigation.top.register' | trans }}</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="/page.html">
                            {{ 'site_navigation.top.question' | trans }}
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <li><a href="{{ path('QuestionCreateBundle_Page_Create_Index') }}">{{ 'site_navigation.top.create' | trans }}</a></li>
                            <li><a href="{{ path('question_review_list') }}">{{ 'site_navigation.top.review' | trans }}</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <li><a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></li>
                        <li>{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}</li> 

                    {% else %}
                        <a data-toggle="modal" href="#loginModal" class="btn btn-primary">Login</a>
                    {% endif %}
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>

{{ render (controller("SecurityAuthenticateBundle:Login:loginModal", { 'template': 'loginModal' })) }}
