{% extends 'SiteHomepageBundle::layout.html.twig' %}


{% block body %}

<div id="content">
    <div class="container">
        <div class="row">
            <div class="span12">

                <h1>Your exams</h1>

                <ul class="nav nav-tabs">
                    <li class="active"><a href="#description" data-toggle="tab">Description</a></li>
                    <li><a href="#questions" data-toggle="tab">Questions</a></li>
                    <li><a href="#candidates" data-toggle="tab">Candidates</a></li>
                </ul>

                <div class="tab-content">

                    <section class="tab-pane" id="description">

                        <h2>Description</h2>

                        <div class="row ">
                            <div class="span4">
                                <dl class="dl-horizontal">
                                    <dt>Sections: </dt>
                                    {% if (exam.examCriteria.sections) is defined %}
                                        {{ exam.examCriteria.sections | definitionList | raw }}
                                    {% endif %}
                                    <dt>Level: </dt>
                                    {% if (exam.examCriteria.level) is defined %}
                                    <dd>{{ exam.examCriteria.level }}</dd>
                                    {% endif %} 
                                    <dt>Types: </dt>
                                    {% if (exam.examCriteria.types) is defined %}
                                    <dd>{{ exam.examCriteria.types | definitionList | raw }}</dd>
                                    {% endif %}
                                    {% if (exam.examCriteria.numberCandidates) is defined %}
                                    <dt>Number of candidates: </dt>
                                    <dd>{{ exam.examCriteria.numberCandidates }}</dd>
                                    {% endif %}
                                    {% if (exam.examCriteria.numberQuestions) is defined %}
                                    <dt>Number of questions: </dt>
                                    <dd>{{ exam.examCriteria.numberQuestions }}</dd>
                                    {% endif %}
                                </dl>
                            </div>

                            <div class="span4">
                                <dl class="dl-horizontal">
                                    <dt>Tags: </dt>
                                {% if (exam.examCriteria.tags) is defined %}
                                {{ exam.examCriteria.tags | definitionList | raw }}
                                {% endif %}
                                </dl>
                            </div>
                        </div>
                        
                    </section>

                        <section class="tab-pane" id="questions">
                            <h2>Criteria question</h2>
                            {% for criteriaQuestion in exam.examCriteria.criteriaQuestions %}
                            <div class="row">
                                <div class="span12">
                                    <table class="table table-bordered table-striped">
                                        {% for question in criteriaQuestion.questions %}
                                            <tr>
                                                <td>{{ question.title  }}</td>
                                                <td>{{ question.level  }}</td>
                                                <td>{{ question.type  }}</td>
                                                <td>{{ question.points  }}</td>
                                                <td>{{ question.points  }}</td> 
                                                <td>
                                                    {% for tag in question.tags %}
                                                        {{ tag.name }}
                                                    {% endfor %} 
                                                </td> 
                                                <td><a href="#" class="btn btn-primary btn-mini">View</a></td>
                                            </tr>
                                      {% endfor %}
                                    </table>        
                                </div>
                            </div>
                            {% endfor %}
                        </section>

                        <section class="tab-pane active" id="candidates">
                            <h2>Candidates</h2>

                            <section class="row">
                                <div class="span7">
                                    <table class="table table-bordered table-striped table-condensed">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Email</th>
                                                <th>Started</th>
                                                <th>Completion</th>
                                            </tr>
                                        </thead>
                                    {% for examCandidate in exam.examCandidates %}
                                        <tr>
                                            <td>{{ examCandidate.candidate.username }}</td>
                                            <td>{{ examCandidate.candidate.email }}</td>
                                            <td>{{ examCandidate.startedAt | date('d-m-Y')  }}</td>
                                            <td>{{ examCandidate.completion }}</td>
                                        </tr>
                                    {% endfor %}
                                    </table>
                                </div>
                                <div class="span4 well pull-right">
                                    <h2>Send an invitation</h2>
                                    {% render(controller('ExamManageBundle:Invitation:index', {'examId' : exam.id} ))    %} 
                                </div>
                            </section>
                        </section>

                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock body %}


