{% extends 'SiteHomepageBundle::layout.html.twig' %}


{% block body %}

<div id="content">
    <div class="container">
        <div class="row">

            <div class="span7">

                <h1>{{ 'exam_create.top.heading' | trans }}</h1>  
                <h2>{{ 'exam_create.language.heading' | trans }}</h2>  
                <h2>{{ 'exam_create.num_candidates.heading' | trans }}</h2> 
                <h2>{{ 'exam_create.level.heading' | trans }}</h2>   
                <h2>{{ 'exam_create.numb_questions.heading' | trans }}</h2>
                <h2>{{ 'exam_create.type_questions.heading' | trans }}</h2>
                <h2>{{ 'exam_create.topics.heading' | trans }}</h2>
                <h2>{{ 'exam_create.more_options.heading' | trans }}</h2>

                <form action="" method="post" {{ form_enctype(form) }} novalidate="novalidate">
                    
                    {{form_widget(form) }}
                    
                   

                    {# form_row(form.section) #}

                    

                    {# form_row(form.numberCandidates) #}

                    

                    {# form_row(form.level) #}

                    

                    {#{ form_row(form.numberQuestions) }#}

                    

                    {#{ form_row(form.type) }#}


                    

                    {#{ form_row(form.tags) }#}

                    

                    {#{ form_row(form.options) }#}

                    {{ form_rest(form) }}
                    
                    <input class="btn btn-success" type="submit" id="generateExam" value="{{ 'exam_create.create.button' | trans }}" />
                </form>

            </div>

            <div class="span4 well">
                {{ 'exam_create.help.heading' | trans }}
            </div>

        </div>
    </div>
</div>


{% endblock body %}
