{% extends '::base.html.twig' %}


{% block body %}

<h1>{{ 'question.review.subject'|trans({}, 'QuestionReviewBundle') }}</h1>


<div class="row">

    <div class="span12">
    
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Title</th>
                <th>Owner</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for question in questions %}
            <tr>
                <td>{{ question.createdAt | date('Y-m-d') }}</td>
                <td>{{ question.title }}</td>
                <td>{{ question.user }}</td>
                <td>
                    <a href="{{ path('question_review_display',{'id': question.id } ) }}" class="btn btn-info btn-mini">Review</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    
    </div>
    
</div>





{% endblock body %}
