{% extends 'DmAdminBundle::layout.html.twig' %}

{% block body %}

<div class="page-header">
    <a href="{{ path('DmAdminBundle_homepage') }}" class="btn" style="float: right;">Cancel</a>
    <h2>Create a new question</h2>

</div>

<form action="{{ path('DmAdminBundle_question_create') }}" 
      method="post" {{ form_enctype(form) }} class="form-vertical" novalidate="novalidate">

    <div class="row-fluid">

        <div class="span8">

            <div class="control-group">

                
                {{ form_label(form.title) }}
                {{ form_widget(form.title) }}
                {{ form_errors(form.title) }}
                

            </div>
            
            <div class="control-group">

                
                {{ form_label(form.code) }}
                {{ form_widget(form.code) }}
                {{ form_errors(form.code) }}
                

            </div>
            
            <div class="control-group">

                
                {{ form_label(form.note) }}
                {{ form_widget(form.note) }}
                {{ form_errors(form.note) }}
                

            </div>

       </div>


    <div class="span4">

        <div class="control-group">
            {{ form_label(form.section) }}
            {{ form_widget(form.section) }}
            {{ form_errors(form.section) }}       
        </div>
        
        <div class="control-group">
            {{ form_label(form.level) }}
            {{ form_widget(form.level) }}
            {{ form_errors(form.level) }}        
        </div>
        
        <div class="control-group">
            {{ form_label(form.type) }}
            {{ form_widget(form.type) }}
            {{ form_errors(form.type) }}
        </div>
        
        <div class="control-group">
            {{ form_label(form.points) }}
            {{ form_widget(form.points) }}
            {{ form_errors(form.points) }}    
        </div>
        
        <div class="control-group">
            {{ form_label(form.tags) }}
            {{ form_widget(form.tags) }}
            {{ form_errors(form.tags) }}      
        </div>

    </div>

    </div>
    
    <div class="page-header">
        <h2>Answers</h2>
    </div>
    
    <div class="well">
            <button type="submit" class="btn btn-primary">Save changes</button>
            <button class="btn">Cancel</button>
    </div>
    
    {{ form_rest(form) }}

</form>

{% endblock %}


